<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CYV Gijón</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

    <!-- Encabezado con logo y menú de navegación -->
    <header>
        <h1>CYV Gijón</h1>
        <ul class="navegacion">
            <li><img src="../assets/logos/logo_coche.svg" alt="logo_coche"></li>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="contacto.html" class="activo">Contacto</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
        </ul>
    </header>
    <main>

        <!-- Sección de información de contacto -->
        <section class="contacto">
            <h2>Contacto</h2>
                <div class="info_contacto">
                    <div class="info">
                        <h3>Visítanos</h3>
                        <P><strong>Dirección:</strong> Calle San José 5, Gijón</P>
                        <p><strong>Teléfono:</strong> 621348756</p>
                        <p><strong>E-mail:</strong> cochesegunda@gmail.com</p>
                        <p><strong>Horario:</strong> lunes a viernes de 9:00 a 20:00</p>
                    </div>
                    <div class="mapa">
                    <img src="../assets/imagenes/mapa.jpg" width="655" height="462" alt="imagen_mapa">
                    </div>
                </div>
        </section>
    </main>
    
    <!-- Pie de página -->
    <footer>
        <p>© 2025 Compra y venta coches - Compraventa coches de segunda mano</p>
        <p>Dirección: Calle San José 5, 33201 Gijón</p>
        <a href="https://www.facebook.com/" target="_blank"><img src="../assets/logos/logo_facebook.svg" alt="logo_facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/logos/logo_instagram.svg" alt="logo_instagram"></a>
        <a href="https://www.whatsapp.com/" target="_blank"><img src="../assets/logos/logo_whatsapp.svg" alt="logo_whatsapp"></a>
        <p class="aviso_legal">Aviso legal: CYV Gijón es una empresa dedicada a la compra y venta de vehículos de ocasión.</p>
    </footer>
    
</body>
</html>