<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CYV Gijón</title>
    <link rel="stylesheet" href=".../estilos.css">
</head>
<body>

    <!-- Encabezado con logo y menú de navegación -->
    <header>
        <h1>CYV Gijón</h1>
        <ul class="navegacion">
            <img src="./assets/logo_coche.svg" alt="logo_coche">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="views/productos.html">Productos</a></li>
            <li><a href="views/contacto.html" class="activo">Contacto</a></li>
            <li><a href="views/presupuesto.html">Presupuesto</a></li>
        </ul>
    </header>
    <main>

        <!-- Sección de información de contacto -->
        <section class="contacto">
            <h1>Contacto</h1>
                <div class="info_contacto">
                    <div class="info">
                        <h2>Visítanos</h2>
                        <P><strong>Dirección:</strong> Calle San José 5, Gijón</P>
                        <p><strong>Teléfono:</strong> 621348756</p>
                        <p><strong>E-mail:</strong> cochesegunda@gmail.com</p>
                        <p><strong>Horario:</strong> lunes a viernes de 9:00 a 20:00</p>
                    </div>
                </div>
                <div class="mapa">
                    <img src="/imagenes/mapa.jpg" alt="imagen_mapa">
                </div>
        </section>
    </main>
    
    <!-- Pie de página -->
    <footer>
        <p>2025 Compra y venta coches - Compraventa coches de segunda mano</p>
        <img src="/assets/logo_facebook.svg" alt="logo_facebook">
        <img src="/assets/logo_instagram.svg" alt="logo_instagram">
        <img src="/assets/logo_whatsapp.svg" alt="logo_whatsapp">
    </footer>
    
</body>
</html>