<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYV Gijón</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../estilos.css">
</head>
<body>

    <!-- Encabezado con logo y menú de navegación -->
    <header>
        <h1>CYV Gijón</h1>
        <ul class="navegacion">
            <img src="../assets/logo_coche.svg" alt="logo_coche">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="views/productos.html" class="activo">Productos</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
            <li><a href="views/presupuesto.html">Presupuesto</a></li>
        </ul>
    </header>
    
    <!--Galeria-->
    <section class="contenedor_productos">
        <h1>Nuestros vehículos</h1>
        <div class="grid_productos"> 
            <div>                
                <img src="../imagenes/camioneta.jpg" class="imagenes_productos" alt="imagen_camioneta">
                <p>Ford Raptor 2022</p>
            </div>

            <div>
                <img src="../imagenes/clasico.jpg" class="imagenes_productos" alt="imagen_clasico">
                <P>Chevrolet Clásico 1954</P>
            </div>

            <div>
                <img src="../imagenes/deportivo.jpg" class="imagenes_productos" alt="imagen_deportivo">
                <P>Ford Mustang 2025</P>
            </div>

            <div>
                <img src="../imagenes/sedan.jpg" class="imagenes_productos" alt="imagen_sedan">
                <p>Toyota Corolla 2023</p>
            </div>
        </div>

    </section>
    
    <!-- Pie de página -->
    <footer>
        <p>2025 Compra y venta coches - Compraventa coches de segunda mano</p>
        <img src="../assets/logo_facebook.svg" alt="logo_facebook">
        <img src="../assets/logo_instagram.svg" alt="logo_instagram">
        <img src="../assets/logo_whatsapp.svg" alt="logo_whatsapp">
    </footer>
    
</body>
</html>